/* Genreal */
/* div {
  border: 1px solid rgb(176, 38, 38);
} */

/* Layout */

html,
body {
  background-color: silver;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top {
  height: 10%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

#item-div {
  width: 90%;
  margin-left: 5%;
}

#list-item-div {
  height: 80%;
}

.item-container {
  padding: 5px;
  font-family: inherit;
  font-size: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-item-div {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  margin-top: 30px;
  padding: 5px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* styling */

.active-false {
  text-decoration: line-through;
  opacity: 0.5;
}

.hide {
  display: none;
}

button {
  float: right;
  height: 30px;
}

input[type="text"] {
  margin-left: 0%;
  width: 80%;
  padding: 5px;
  margin: -5px;
  border: 2px solid silver;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  font-family: inherit;
  font-size: 0.6em;
}

.cursor-pointer {
  cursor: pointer;
}

/* button styles */
button {
  border-radius: 0.25em;
  cursor: pointer;
}

/* .buttonNOT {
  height: fit-content;
  width: auto;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
} */

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.3;
}

/* media */

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container {
    width: 500px;
  }
}
